/* Prompt controller classes */
.settings {
  position: fixed;
  border-radius: 5px;
  top: 11%;
  right: 1%;
  transition: ease all 0.5s;
}
.hide {
  transform: translateY(-200%);
}

/* ╭────────────────────────────╮ */
/* │     Mostly Prism stuff     │ */
/* ╰────────────────────────────╯ */

ul {
  padding: 10px;
  margin-left: 10px;
}

ol {
  max-width: 900px;
  margin-left: 20px;
}

p {
  margin: 0.7rem 0;
}
